In [1]:
import numpy as np
import pandas as pd

In [2]:
post_table = pd.read_csv('Post.csv', index_col=False)
vehicleinfo_table = pd.read_csv('VehicleInfo.csv', index_col=False)

In [11]:
post_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           256 non-null    object
 1   Content         256 non-null    object
 2   Pricetag        256 non-null    int64
 3   Image           255 non-null    object
 4   City_name       256 non-null    object
 5   ID_VehicleInfo  256 non-null    int64
dtypes: int64(2), object(4)
memory usage: 12.1+ KB

In [12]:
vehicleinfo_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   infoid            256 non-null    int64
 1   Vehicle_name      256 non-null    object
 2   Odometer          256 non-null    int64
 3   License_plate     0 non-null      float64
 4   Cubic_power       252 non-null    float64
 5   Manufacture_year  256 non-null    int64
 6   ID_VehicleBrand   256 non-null    int64
 7   ID_VehicleLineup  256 non-null    int64
 8   Condition         256 non-null    int64
 9   ID_VehicleType    256 non-null    int64
 10  ID_Color          256 non-null    int64
dtypes: float64(2), int64(8), object(1)
memory usage: 22.1+ KB

In [13]:
post_table

,Title,Content,Pricetag,Image,City_name,ID_VehicleInfo
0,Yamaha Latte 2020,Latte 2020 k&yacute; ngay chủ \nOdo chuẩn gần ...,35000000,https://cdn.okxe.vn/products/913/1113913/11139...,Tp. Hồ Chí Minh,1
1,SYM Angel 110 2005,Cầm Đồ Ho&agrave;ng Thắng Thanh L&yacute; Xe :...,4500000,https://cdn.okxe.vn/products/944/1102944/11029...,Tp. Hồ Chí Minh,2
2,Harley Davidson Forty-Eight Special 2019,XE MOTO PH&Acirc;N KHỐI LỚN CỰC HIẾM - Harley ...,435000000,https://cdn.okxe.vn/products/376/1069376/10693...,Tp. Hồ Chí Minh,3
3,Harley Davidson Street 750 2015,‼️ MOTOR HARLEY DAVIDSON STREET 750 CH&Iacute;...,178000000,https://cdn.okxe.vn/products/79/1012079/101207...,Tp. Hồ Chí Minh,4
4,Yamaha Exciter 150 2017,- Yamaha exciter 150\n- biển số th&agrave;nh p...,27500000,NaN,Tp. Hồ Chí Minh,5
...,...,...,...,...,...,...
251,Yamaha Exciter 150 2018,"M&aacute;y m&oacute;c nguy&ecirc;n bản, h&igra...",21800000,https://cdn.okxe.vn/products/605/1195605/11956...,Tp. Hà Nội,252
252,Benelli TNT 125 2019,"M&igrave;nh đang muốn đổi xe, l&ecirc;n cần b&...",15000000,https://cdn.okxe.vn/products/604/1195604/11956...,Tp. Hà Nội,253
253,Honda Wave Alpha 50 2011,"b&aacute;n wave 50 hq li&ecirc;n doanh, đẹp mớ...",7500000,https://cdn.okxe.vn/products/603/1195603/11956...,Tp. Hồ Chí Minh,254
254,Honda Air Blade 110 2011,M&igrave;nh đang cần b&aacute;n chiếc xe n&agr...,11000000,https://cdn.okxe.vn/products/602/1195602/11956...,Tp. Hà Nội,255
255,Suzuki GZ 150A 2020,M&igrave;nh đang cần b&aacute;n chiếc xe n&agr...,48000000,https://cdn.okxe.vn/products/601/1195601/11956...,Tp. Hà Nội,256

In [15]:
post_table.City_name.unique()
# hanoi: 1
# hcm: 50
# binhduong: 47
# bacgiang: 15
# danang: 32

array(['Tp. Hồ Chí Minh', 'Tp. Hà Nội', 'Tỉnh Bình Dương',
       'Tỉnh Bắc Giang', 'Tp. Đà Nẵng'], dtype=object)

In [18]:
post_table.loc[post_table['City_name'] == 'Tp. Hồ Chí Minh', 'ID_City'] = 50
post_table.loc[post_table['City_name'] == 'Tp. Hà Nội', 'ID_City'] = 1
post_table.loc[post_table['City_name'] == 'Tỉnh Bình Dương', 'ID_City'] = 47
post_table.loc[post_table['City_name'] == 'Tỉnh Bắc Giang', 'ID_City'] = 15
post_table.loc[post_table['City_name'] == 'Tp. Đà Nẵng', 'ID_City'] = 32

In [26]:
post_table.loc[:, 'ID_City'] = post_table.loc[:, 'ID_City'].astype(int)

In [27]:
post_table

,Title,Content,Pricetag,Image,City_name,ID_VehicleInfo,ID_City
0,Yamaha Latte 2020,Latte 2020 k&yacute; ngay chủ \nOdo chuẩn gần ...,35000000,https://cdn.okxe.vn/products/913/1113913/11139...,Tp. Hồ Chí Minh,1,50
1,SYM Angel 110 2005,Cầm Đồ Ho&agrave;ng Thắng Thanh L&yacute; Xe :...,4500000,https://cdn.okxe.vn/products/944/1102944/11029...,Tp. Hồ Chí Minh,2,50
2,Harley Davidson Forty-Eight Special 2019,XE MOTO PH&Acirc;N KHỐI LỚN CỰC HIẾM - Harley ...,435000000,https://cdn.okxe.vn/products/376/1069376/10693...,Tp. Hồ Chí Minh,3,50
3,Harley Davidson Street 750 2015,‼️ MOTOR HARLEY DAVIDSON STREET 750 CH&Iacute;...,178000000,https://cdn.okxe.vn/products/79/1012079/101207...,Tp. Hồ Chí Minh,4,50
4,Yamaha Exciter 150 2017,- Yamaha exciter 150\n- biển số th&agrave;nh p...,27500000,NaN,Tp. Hồ Chí Minh,5,50
...,...,...,...,...,...,...,...
251,Yamaha Exciter 150 2018,"M&aacute;y m&oacute;c nguy&ecirc;n bản, h&igra...",21800000,https://cdn.okxe.vn/products/605/1195605/11956...,Tp. Hà Nội,252,1
252,Benelli TNT 125 2019,"M&igrave;nh đang muốn đổi xe, l&ecirc;n cần b&...",15000000,https://cdn.okxe.vn/products/604/1195604/11956...,Tp. Hà Nội,253,1
253,Honda Wave Alpha 50 2011,"b&aacute;n wave 50 hq li&ecirc;n doanh, đẹp mớ...",7500000,https://cdn.okxe.vn/products/603/1195603/11956...,Tp. Hồ Chí Minh,254,50
254,Honda Air Blade 110 2011,M&igrave;nh đang cần b&aacute;n chiếc xe n&agr...,11000000,https://cdn.okxe.vn/products/602/1195602/11956...,Tp. Hà Nội,255,1
255,Suzuki GZ 150A 2020,M&igrave;nh đang cần b&aacute;n chiếc xe n&agr...,48000000,https://cdn.okxe.vn/products/601/1195601/11956...,Tp. Hà Nội,256,1

In [ ]:
post_table.to_csv('Post.csv', index=None)

In [14]:
vehicleinfo_table

,infoid,Vehicle_name,Odometer,License_plate,Cubic_power,Manufacture_year,ID_VehicleBrand,ID_VehicleLineup,Condition,ID_VehicleType,ID_Color
0,1,Yamaha Latte,10000,NaN,125.0,202011,40,1711,2,1,10
1,2,SYM Angel 110,100000,NaN,110.0,200504,35,438,2,2,13
2,3,Harley Davidson Forty-Eight Special,5000,NaN,1200.0,201912,13,115,2,3,3
3,4,Harley Davidson Street 750,5000,NaN,750.0,201503,13,1231,2,3,3
4,5,Yamaha Exciter 150,30000,NaN,149.7,201706,40,535,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...
251,252,Yamaha Exciter 150,5000,NaN,149.7,201812,40,535,2,2,15
252,253,Benelli TNT 125,5000,NaN,124.8,201901,3,15,2,2,3
253,254,Honda Wave Alpha 50,30000,NaN,100.0,201112,15,1055,2,2,8
254,255,Honda Air Blade 110,5000,NaN,108.0,201101,15,148,2,1,10
255,256,Suzuki GZ 150A,5000,NaN,149.0,202001,34,414,2,2,10