In [83]:
import pandas as pd
import numpy as np

In [84]:
post_table = pd.read_csv('Post.csv', index_col=False)
vehicleinfo_table = pd.read_csv('VehicleInfo.csv', index_col=False)
vehiclebrand_table = pd.read_csv('VehicleBrand.csv', index_col=False)
vehiclelineup_table = pd.read_csv('VehicleLineup.csv', index_col=False)
vehicletype_table = pd.read_csv('VehicleType.csv', index_col=False)
vehiclecondition_table = pd.read_csv('VehicleCondition.csv', index_col=False)

In [85]:
vehicleinfo_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   infoid            256 non-null    int64
 1   Vehicle_name      256 non-null    object
 2   Odometer          256 non-null    int64
 3   License_plate     0 non-null      float64
 4   Cubic_power       252 non-null    object
 5   Manufacture_year  256 non-null    int64
 6   ID_VehicleBrand   256 non-null    int64
 7   ID_VehicleLineup  256 non-null    int64
 8   Condition         256 non-null    int64
 9   ID_VehicleType    256 non-null    int64
 10  ID_Color          256 non-null    int64
dtypes: float64(1), int64(8), object(2)
memory usage: 22.1+ KB

In [86]:
vehicleinfo_table['Cubic_power'] = vehicleinfo_table['Cubic_power'].str.replace('c', '').str.replace(',', '.')

In [87]:
vehicleinfo_table.loc[9, 'Cubic_power'] = 50

In [89]:
post_table.isnull().sum()

Title             0
Content           0
Pricetag          0
Image             1
City_name         0
ID_VehicleInfo    0
dtype: int64

In [90]:
post_table = post_table.where(pd.notnull(post_table), None)

In [91]:
vehicleinfo_table.isnull().sum()

infoid                0
Vehicle_name          0
Odometer              0
License_plate       256
Cubic_power           4
Manufacture_year      0
ID_VehicleBrand       0
ID_VehicleLineup      0
Condition             0
ID_VehicleType        0
ID_Color              0
dtype: int64

In [92]:
vehicleinfo_table = vehicleinfo_table.astype(object).where(pd.notnull(vehicleinfo_table), None)

In [93]:
vehiclebrand_table.isnull().sum()

id      0
name    0
logo    0
dtype: int64

In [94]:
vehiclelineup_table.isnull().sum()

id          0
name        0
brand_id    0
dtype: int64

In [95]:
vehiclelineup_table = vehiclelineup_table.dropna(how='any')

In [96]:
vehiclelineup_table.isnull().sum()

id          0
name        0
brand_id    0
dtype: int64

In [97]:
vehicletype_table.isnull().sum()

id      0
name    0
dtype: int64

In [98]:
vehiclecondition_table.isnull().sum()

id      0
name    0
dtype: int64

In [99]:
vehiclebrand_table.to_csv("VehicleBrand.csv", index=None)
vehiclelineup_table.to_csv("VehicleLineup.csv", index=None)
post_table.to_csv("Post.csv", index=None)
vehicleinfo_table.to_csv("VehicleInfo.csv", index=None)